    .container {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            .align-center {
                text-align: center;
            }